@import "tailwindcss";

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .showcases-carousel {
    animation: slideToLeft 10s linear infinite;
  }

  .showcases-carousel:has(.group:hover) {
    animation-play-state: paused;
  }
}
